{% extends 'base.html.twig' %}

{% block title %} Erreur 404 {% endblock %}


{% block content %}


    <div class="centrer">
        <div class="d-flex w-100 justify-content-between">
            <img src="https://i.imgur.com/tEm4nE1.png">
            <div>
                <br>
                <h1 style="color: darkred">Ahhhhhhhhhhh!</h1>
                <h3 style="color: black">Tu as cassé l'internet !</h3>
                <p>Cependant, il n'est pas absurde ou coussi-coussa d'envisager l'idée ni sotte si saugrenue que nous sommes de manière ni plus ou moins  aléatoire tombé sur une <a href="https://fr.wikipedia.org/wiki/Erreur_HTTP_404">erreur 404</a>  et que la page que vous cherchez n'existe probablement pas.</p>
                <a href="/">Aller a la page d'acceuil</a>
            </div>
        </div>
    </div>

{% endblock %}
