<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Conditions générales de vente {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
</head>
<body>

    <h1>Conditions générales de ventes</h1>


</body>
</html>
